#imageContainer {
  display: flex;
  flex-wrap: wrap;
}

#imageContainer img {
  width: 90%;
  height: 400px;
  box-sizing: border-box;
  object-fit: inherit;
}

.portrait {

}

#imageContainer p {
  color: black;
  font-size: 20px;
  text-align: center;
}

.imgBox {
  float: left;
  width: 33.33%;
}


#myModal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(37, 35, 35, 0.9);
  column-count: 2;
}

#exifResult {
  flex-flow: wrap;
  position: relative;
  height: 60%;
  width: 35%;
  margin-left: 15%;
  margin-right: 10%;
  overflow: scroll;
  top: 0;
  background-color: aliceblue;
  white-space: pre-wrap;
}

.modal-content {
  position: relative;
  display: block;
  width: 80%;
  height: 88.5%;
  margin-left: 35%;
}


#map {
  grid-area: map;
  width: 35%;
  height: 28.5%;
  margin-left: 15%;
  flex-flow: column;
  display: block;
  position: relative;

}

#closeDlg {
  position: absolute;
  top: 25px;
  font-size: 30px;
  font-weight: bold;
  transition: 0.5s;
  align-content: center;
  color: white;
}

#closeDlg:hover,
#closeDlg:focus {
  color: rgb(238, 240, 240);
  text-decoration: none;
  cursor: pointer;
}

#loading {
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 100;
  opacity: 0.7;
  background-color: lightblue;
}

#loading p {
  position: relative;
  font-size: 40px;
  color: darkblue;
  top: 50%;
  text-align: center;
  z-index: 105;
  background-color: lightblue;
}

.searchButton {
  text-align: center;
  padding: 5px;
}

#pagination {
  size: 50px;
  margin-left: 42%;
}

.clickPageNumber {
  cursor: pointer;
  color: blue;
  size: 20px;
  padding: 30px;

}

.clickPageNumber:hover {
  color: black;
  opacity: 0.3;
}

.rotate90{
  transform: rotate(90deg);
}

.rotate180{
  transform: rotate(180deg);
}
.rotate270{
  transform: rotate(270deg);
}






