#imageContainer img {
  width: 30%;
  height: 350px;
  padding: 10px;
  border: 3px solid grey;
}

#myModal {
  display: none; 
  position: fixed;
  z-index: 1; 
  padding-top: 60px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(37, 35, 35, 0.9);
  column-count: 2;
}
  
#exifResult {
  flex-flow: wrap;
  position: relative;
  height: 60%;
  width: 35%;
  margin-left: 15%;
  margin-right: 10%;
  text-overflow: ellipsis;
  overflow: auto;
  top: 0;
  
}

.modal-content {
  grid-area: img;
  position: relative;
  display: block;
  width: 80%;
  height: 95%;
  margin-left: 35%;
}


#map{
  grid-area: map;
  width:35%;
  height: 33%;
  margin-left:15%;
  flex-flow: column;
  display:block;
  position:relative;
 
}

#closeDlg {
  position: absolute;
  top: 25px;
  font-size: 30px;
  font-weight: bold;
  transition: 0.5s;
  align-content: center;
  color: white;
}

#closeDlg:hover,
#closeDlg:focus {
  color: rgb(238, 240, 240);
  text-decoration: none;
  cursor: pointer;
}

#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
    display: block;
    opacity: 0.7;
    background-color: lightblue;
}

#loading p {
    position: absolute;
    top: 100px;
    left: 240px;
    z-index:101;
}
