#imageContainer img {
  display: flex;
  width: 100%;
  height: 400px;
  box-sizing: border-box;
  align-content: space-between;
}

#imageContainer p{
  color: black;
  font-size: 20px;
  z-index: 102;
  text-align: center;
}

#imgBox{
  float: left;
  width: 33.33%;
  padding: 5px;
}

#myModal {
  display: none; 
  position: fixed;
  z-index: 1; 
  padding-top: 60px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(37, 35, 35, 0.9);
  column-count: 2;
}
  
#exifResult {
  flex-flow: wrap;
  position: relative;
  height: 60%;
  width: 35%;
  margin-left: 15%;
  margin-right: 10%;
  text-overflow: ellipsis;
  overflow: auto;
  top: 0;
  
}

.modal-content {
  grid-area: img;
  position: relative;
  display: block;
  width: 80%;
  height: 95%;
  margin-left: 35%;
}


#map{
  grid-area: map;
  width:35%;
  height: 33%;
  margin-left:15%;
  flex-flow: column;
  display:block;
  position:relative;
 
}

#closeDlg {
  position: absolute;
  top: 25px;
  font-size: 30px;
  font-weight: bold;
  transition: 0.5s;
  align-content: center;
  color: white;
}

#closeDlg:hover,
#closeDlg:focus {
  color: rgb(238, 240, 240);
  text-decoration: none;
  cursor: pointer;
}


#loading {
    display:block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
    opacity: 0.7;
    background-color: lightblue;
}

#loading p {
    position: relative;
    font-size: 40px;
    color: darkblue;
    top: 50%;
    text-align: center;
    z-index:105;
    background-color: transparent lightblue;
}

.hide{
 display:none;
}

.navPage a {
 padding:5px;
}
.navPage a.current {
  font-weight:bold;
  text-decoration:underline;
}